.container {
    max-width: 60%;
    margin:0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.container form {
    width: 100%;
    display: flex;
    flex-direction: row;
    border:1px solid grey;
    border-radius: 5px;
    padding:2px;
}

.container input {
    box-sizing: border-box;
}



.container button {
    border:1px white;
    background: rgba(128, 179, 245, 0.2);
    color:white;
}

.container button:hover {
    background: rgba(128, 179, 245, 0.4);
}

.search {
    flex-grow: 2;
    border: none;
    height: 1.5rem;
}

input:focus {
    outline: 0;
}

.dropdown {
    margin: 0;
    padding: 0;
    max-width: 60%;
    position: relative;
    display: block;
}

.dropdown ul {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    min-width: 50%;
}

.dropdown ul::before {
    content: "";
}

.dropdown li {
    margin: 0;
    padding: 0.5rem 2px;
    cursor: pointer;
}

.dropdown li:hover {
    text-decoration: underline;
    background-color: rgba(128, 128, 128, 0.2);
}

.dropdown-hidden {
    display: none;
}
