.container {
    padding: 0.6rem 3rem;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgba(154, 203, 243, 0.1);
    border-radius: 5px;
}

.location {
    margin: 0;
    padding: 0;
}

.temperature {
    display: inline-block;
    text-align: center;
    margin: 0;
}

.temperature p {
    text-transform: capitalize;
}



.temperature img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.datetime {
    display: inline-block;
    width: max-content;
    font-size: 0.9rem;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.datetime p {
    font-size: 1.5rem;
}