.container {
    margin-top: 1rem;
    background-color: rgba(162, 222, 247, 0.6);
    border-radius: 4px;
    color: rgb(24, 23, 23);
    box-shadow: none;
    padding: 1rem 1rem;
}

.container h2 {
    margin-bottom: 2rem;
}

.weather-details-tbl {
    border-collapse: separate;
    border-spacing: 0;
    line-height: 1.5em;
    width: 100%;
}

.weather-details-tbl th {
    text-align: left;
}

.weather-details-tbl td {
    text-align: center;
}